name: URL Health Check

on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:

jobs:
  health_check:
    runs-on: ubuntu-latest
    steps:
      - name: Ping deployed service
        uses: jtalk/url-health-check-action@v4
        with:
          url: ${{ secrets.HEALTH_CHECK_URL }}
          follow-redirect: true
          max-attempts: 3
          retry-delay: 5s
